<html>
<head>
    <title>New Contact</title>
</head>
<body>
    <h1>You added a new contact to your address book</h1>
    <p>Name: {{ newcontact.getName }}</p>
    <P>Phone Number: {{ newcontact.getPhoneNumber }}</p>
    <p>Address: {{ newcontact.getAddress }}</p>
    <p><a href = '/'>View all your contacts</a></p>
</body>
</html>
